@model BugViewModel


@{
}

<div class="my-2">
    <form asp-controller="Bug" asp-action="Edit" method="post">
        <input asp-for="BugId" type="hidden" />
        <input asp-for="CreatedDate" type="hidden" />
        <input asp-for="UpdatedDate" type="hidden" />
        <div>
            <label>To-Do id:</label>
            <input asp-for="MiniId" type="number"/>
        </div>
        <div>
            <label>Title</label>
            <input asp-for="Title" />
        </div>
        <div>
            <label>Description</label>
            <input asp-for="Description" />
        </div>
        @if (Model.MiniId is not 0)
        {
            <div>
                <label>Status</label>
                <select asp-for="State">
                    <option value="0">Complete</option>
                    <option value="1">Incomplete</option>
                </select>
            </div>
        }
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>